################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DMU_GitNew/v17
/DMU_Git/.vs/DMU_Git/FileContentIndex
/DMU_Git/DMU_Git/obj
/DMU_Git/DMU_Git/obj/Debug/net7.0
/DMU_Git/.vs/DMU_Git/v17
/DMU_Git/DMU_Git/obj/Debug/net7.0/DMU_Git.csproj.AssemblyReference.cache
/DMU_Git/DMU_Git/obj/Debug/net7.0/DMU_Git.GeneratedMSBuildEditorConfig.editorconfig
/DMU_Git/DMU_Git/DMU_Git.csproj
/.vs/DataModelling/v17
